<div class="container">
  <div class="text-center">
    <h1>Welcome to Ashley's card game extravaganzaaa!!!</h1>
    <div>
      <button type="button" class="btn btn-primary m-1" (click)="open(createGameModal)">Host Game</button>
    </div>
    <div>
      <button type="button" class="btn btn-primary m-1" (click)="open(joinGameModal)">Join Game</button>
    </div>
  </div>
</div>


<ng-template #createGameModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create Game</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="hostNameInput">Enter Your Name</label>
        <div class="input-group">
          <input [(ngModel)]="hostName" id="hostNameInput" class="form-control" placeholder="Your Name"
            name="hostNameInput">
        </div>
        <br>
        <label for="gameSelection">Select a Game</label>
        <div class="input-group">
          <select [(ngModel)]="selectedGame" class="form-control" name="gameSelection">
            <option *ngFor="let game of gameOptions" [value]="game">
              {{game}}
            </option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="createNewGame();modal.close()">Create Game</button>
  </div>
</ng-template>

<ng-template #joinGameModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Join Game</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="nameInput">Enter Your Name</label>
        <div class="input-group">
          <input [(ngModel)]="playerName" id="nameInput" class="form-control" placeholder="Your Name" name="nameInput">
        </div>
        <br>
        <label for="gameInput">Enter the Game ID</label>
        <div class="input-group">
          <input [(ngModel)]="joinGameID" id="gameInput" class="form-control" placeholder="Game ID" name="gameInput">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="joinGame();modal.close()">Join Game</button>
  </div>
</ng-template>