<div class="container">
    <div class="text-center">
        <h1>Waiting for other players to join...</h1>
        <h2>Share this code: {{gameID}}</h2>
    </div>


    <div class="text-center">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="playersJoined">Players joined: {{playerCount}}/{{maxNumPlayers}}</label>
                    <select multiple class="form-control" id="playersJoined">
                        <option *ngFor="let player of playersList" [value]="player.ID">
                            {{player.ID === this.playerID ? player.name + " (you)" : player.name}}
                        </option>
                    </select>
                </div>
                <div *ngIf="playerIsHost">
                    <button type="button" class="btn btn-primary m-1" [disabled]="playerCount < minNumPlayers" (click)="startGame()">Start Game</button>
                </div>
            </div>
        </div>
    </div>
</div>